<div class="row">
  <div class="col-lg-6">
    <img src="{{mit.image}}" width="300px" height="300px" />
  </div>
  <div class="col-lg-6">
    <h1>{{mit.name}}</h1>
    <a href="/order/{{mit._id}}">
      <button>MUA</button>
    </a>
  </div>
</div>

<div class="row mt-3">
  {{mit.info}}
</div>
